@page "/game"

@using Microsoft.AspNetCore.SignalR.Client
@using TicTacToeGame.Domain.Constants
@using TicTacToeGame.Domain.Enums
@using TicTacToeGame.Domain.Models
@using System.Security.Claims
@using TicTacToeGame.Domain.Repositories
@using TicTacToeGame.Services.GamesStatisticServices

@inject NavigationManager _navigationManager
@inject PlayerRepository _playerRepository
@inject GameRepository _gameRepository
@inject AuthenticationStateProvider _authenticationStateProvider
@inject GamesHistoryRepository _gamesHistoryRepository
@inject IGamesStatisticsService _gamesStatisticsService
@implements IDisposable
@rendermode InteractiveServer

<h1 style="text-align: center;">Tic Tac Toe Game</h1>

<div style="display: flex; flex-direction: column; align-items: center;">
    @for (int row = 0; row < 3; row++)
    {
        <div>
            @for (int col = 0; col < 3; col++)
            {
                int index = row * 3 + col;
                <button style="width: 100px; height: 100px; font-size: 24px; text-align: center; vertical-align: middle; margin-bottom: 5px;"
                        @onclick="(async () => await MakeMove(index))" disabled="@IsButtonDisabled(index)">
                    @GetSquareValue(index)
                </button>
            }
        </div>
    }
</div>

<p>@GameStatus</p>

@code {
    // Board
    private BoardElements[] board = new BoardElements[TicTacToeRules.BOARD_SIZE];

    // For checking current move number
    private int counter;

    // Display who win
    // Are using in signalR
    private string GameStatus = "";
    private string gameId = "";
    // Current game
    private TicTacToeGame.Domain.Models.Game CurrentGame = new();
    Player currentPlayerHost;
    Player currentPlayerGuest;

    // SignalR
    private HubConnection hubConnection;

    private bool canDisplay = false;

    protected override async Task OnInitializedAsync()
    {
        GameStatus = "Game in progress";

        AuthenticationState authState = await _authenticationStateProvider.GetAuthenticationStateAsync();
        ClaimsPrincipal? user = authState.User;

        // if user is in some game that is starting
        // Do
        // else redirect him to the home page

        //maybe take game also by created date
        CurrentGame = _gameRepository.GetByUsersId(user.Claims.First().Value.ToString());

        currentPlayerHost = _playerRepository.GetById(CurrentGame.PlayerHostId);
        currentPlayerGuest = _playerRepository.GetById(CurrentGame.PlayerGuestId);

        hubConnection = new HubConnectionBuilder()
            .WithUrl(_navigationManager.ToAbsoluteUri("/gameHub"))
            .Build();

        hubConnection.On<BoardElements[], PlayerType, Guid>("SendGameState", (receivedBoard, nextPlayerTurn, gameId) =>
        {
            InvokeAsync(() =>
            {
                if (CurrentGame.UniqueId == gameId)
                {
                    board = receivedBoard;
                    CurrentGame.CurrentTurn = nextPlayerTurn;
                    StateHasChanged();
                }
            });
        });
        hubConnection.On<GameState, string, Guid>("SendGameStatus", (receiveGameResult, receiveGameStatus, gameId) =>
        {
            InvokeAsync(() =>
            {
                if (CurrentGame.UniqueId == gameId)
                {
                    CurrentGame.GameResult = receiveGameResult;
                    GameStatus = receiveGameStatus;
                    StateHasChanged();
                }
            });
        });

        hubConnection.On<Guid>("SendGroupMessage", (gameId) =>
        {
            InvokeAsync(() =>
            {
                if (CurrentGame.UniqueId == gameId)
                {
                    this.gameId = gameId.ToString();
                    canDisplay = true;
                    StateHasChanged();
                }
            });
        });
        await hubConnection.StartAsync();
    }

    private async Task MakeMove(int index)
    {
        if (board[index] == BoardElements.Empty && CurrentGame.GameResult == GameState.Starting)
        {
            // Check if it's the correct player's turn
            if (await IsCurrentPlayersTurn())
            {
                // Put X or O on cell
                board[index] = (CurrentGame.CurrentTurn == PlayerType.Host) ? BoardElements.X : BoardElements.O;
                counter++;

                // Only after 3 movements can a player win
                if (counter >= TicTacToeRules.MIN_COUNT_OF_MOVE_TO_WIN)
                {
                    if (CheckForWinner())
                    {
                        await FinishGameAndPutInHistory();
                    }
                }
                // Switch player turns
                await SentGameState();
            }
        }
    }

    private async Task<bool> IsCurrentPlayersTurn()
    {
        AuthenticationState authState = await _authenticationStateProvider.GetAuthenticationStateAsync();
        ClaimsPrincipal? user = authState.User;

        return (CurrentGame.CurrentTurn == PlayerType.Host && user.Claims.First().Subject.Name == currentPlayerHost.Email) ||
        (CurrentGame.CurrentTurn == PlayerType.Guest && user.Claims.First().Subject.Name == currentPlayerGuest.Email);

    }
    private async Task FinishGameAndPutInHistory()
    {
        CurrentGame.GameResult = GameState.Finished;

        GamesHistory hostGamesHistory = await _gamesStatisticsService.GetGamesHistoryByPlayerId(currentPlayerHost.Id);
        GamesHistory guestGamesHistory = await _gamesStatisticsService.GetGamesHistoryByPlayerId(currentPlayerGuest.Id);

        CurrentGame.GamesHistoryHostId = hostGamesHistory.Id;
        CurrentGame.GamesHistoryGuestId = guestGamesHistory.Id;

        CurrentGame.Winner = CurrentGame.CurrentTurn;

        _gameRepository.UpdateEntity(CurrentGame);

        await SendGameStatus();
    }

    private async Task SentGameState()
    {
        PlayerType nextPlayerTurn = (CurrentGame.CurrentTurn == PlayerType.Host) ? PlayerType.Guest : PlayerType.Host;
        await hubConnection.SendAsync("SendGameState", board, nextPlayerTurn,CurrentGame.UniqueId);
    }

    private async Task SendGameStatus()
    {
        await hubConnection.SendAsync("SendGameStatus", CurrentGame.GameResult, GameStatus, CurrentGame.UniqueId);
    }



    private bool CheckForWinner()
    {

        for (int row = TicTacToeRules.FIRST_ROW_OF_BOARD; row < TicTacToeRules.MAX_COUNT_OF_BOARD_ROWS; row++)
        {   //Check row
            if (AreAllEqual(board[row * TicTacToeRules.MAX_COUNT_OF_BOARD_ROWS],
                board[row * TicTacToeRules.MAX_COUNT_OF_BOARD_ROWS + 1], board[row * TicTacToeRules.MAX_COUNT_OF_BOARD_ROWS + 2]))
            {
                GameStatus = $"{board[row * TicTacToeRules.MAX_COUNT_OF_BOARD_ROWS]} wins!";
                return true;
            }
            // Check columns
            if (AreAllEqual(board[row], board[row + TicTacToeRules.MAX_COUNT_OF_BOARD_ROWS],
                board[row + 2 * TicTacToeRules.MAX_COUNT_OF_BOARD_ROWS]))
            {
                GameStatus = $"{board[row]} wins!";
                return true;
            }
        }
        // Check diagonals
        if (AreAllEqual(board[TicTacToeRules.FIRST_ELEMENT_OF_DIAGONAL],
            board[TicTacToeRules.SECOND_ELEMENT_OF_DIAGONAL], board[TicTacToeRules.THIRD_ELEMENT_OF_DIAGONAL]))
        {
            GameStatus = $"{board[TicTacToeRules.FIRST_ELEMENT_OF_DIAGONAL]} wins!";
            return true;
        }

        if (AreAllEqual(board[TicTacToeRules.FIRST_ELEMENT_OF_REVERSE_DIAGONAL],
            board[TicTacToeRules.SECOND_ELEMENT_OF_REVERSE_DIAGONAL], board[TicTacToeRules.THIRD_ELEMENT_OF_REVERSE_DIAGONAL]))
        {
            GameStatus = $"{board[TicTacToeRules.FIRST_ELEMENT_OF_REVERSE_DIAGONAL]} wins!";
            return true;
        }

        // Check for a tie
        if (board.All(cell => cell != BoardElements.Empty))
        {
            GameStatus = "It's a tie!";
            return true;
        }
        else
        {
            return false;
        }
    }

    private bool AreAllEqual(BoardElements a, BoardElements b, BoardElements c)
    {
        return a != BoardElements.Empty && a == b && b == c;
    }


    private string GetSquareValue(int index)
    {
        return (board[index] == BoardElements.Empty) ? "" : board[index].ToString();
    }

    private bool IsButtonDisabled(int index)
    {
        return CurrentGame.GameResult == GameState.Finished;

    }

    public void Dispose()
    {
        hubConnection?.DisposeAsync();
    }
}