@page "/host-room"

@using Microsoft.AspNetCore.SignalR.Client
@using System.Security.Claims
@using System.Timers
@using System.Diagnostics
@using TicTacToeGame.Domain.Constants
@using TicTacToeGame.Domain.Enums
@using TicTacToeGame.Domain.Models
@using TicTacToeGame.Domain.Repositories
@using TicTacToeGame.Services.HubConnections
@using TicTacToeGame.Services.RoomServices
@using TicTacToeGame.WebUI.Hubs

@inject NavigationManager _navigationManager
@inject AuthenticationStateProvider _authenticationStateProvider
@inject RoomManagerService _roomService
@inject TemporaryRoomService _temporaryRoomService
@inject HostRoomHubConnection HostRoomHubConnection


@rendermode InteractiveServer
@implements IAsyncDisposable

<section>
    <div>
        <div class="top-row d-flex justify-content-end">
            <a href="join-room">Enter Code</a>
        </div>
        <h3>HostRoom</h3>
        @if (isLoading)
        {
            <div>
                <h2>Loading...</h2>
            </div>
        }
        else
        {
            <div>
                <p>Waiting for another player to join...</p>
            </div>
        }
        @if (_temporaryRoomService.IsTimerElapsed)
        {
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-7">
                        <div class="alert alert-secondary">Time of your room Id has run out</div>
                    </div>
                    <div class="col-3">
                        <input type="button" class="btn btn-primary" value="Refresh" @onclick="InitializeRoom" />
                    </div>
                </div>
            </div>
        }

        <h4>Room Id: @_temporaryRoomService.ConnectionId</h4>
        <h4>@_temporaryRoomService.WaitingTime</h4>
    </div>
</section>

@code {
    private bool isLoading = false;

    private AuthenticationState authState;

    private ClaimsPrincipal? user;

    public void InitializeRoom()
    {
        _temporaryRoomService.CreateRoom();

        _roomService.OnRoomDeleted = async () =>
       {
           _temporaryRoomService.IsTimerElapsed = true;
           await InvokeAsync(StateHasChanged);
       };

        _roomService.AddRoom(_temporaryRoomService.Room, async () =>
       {
           _temporaryRoomService.IsTimerElapsed = true;
           await InvokeAsync(StateHasChanged);
       });
    }

    protected override async Task OnInitializedAsync()
    {
        authState = await _authenticationStateProvider.GetAuthenticationStateAsync();
        user = authState.User;

        if (user == null)
        {
            throw new Exception("User is not authorized");
        }

        _temporaryRoomService.UpdateComponent += async () => await InvokeAsync(StateHasChanged);

        HostRoomHubConnection.JoinRoomEvent += JoinRoom;

        await HostRoomHubConnection.StartConnectionAsync();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            if (_temporaryRoomService.ConnectionId == HostRoomConstants.LOADING_MESSAGE)
            {
                InitializeRoom();
            }
        }
    }

    private void JoinRoom(int joinedRoomId, Player joinedPlayer)
    {
        JoinRoomAsync(joinedRoomId, joinedPlayer).GetAwaiter().GetResult();
    }

    private async Task JoinRoomAsync(int joinedRoomId, Player joinPlayer)
    {
        bool isSuchRoomExist = _roomService.IsSuchRoomExist(joinedRoomId);

        if (!isSuchRoomExist)
        {
            await HostRoomHubConnection.DeclineJoining("Such connection Id is not right", joinPlayer.Id);
            return;
        }

        bool isItCurrentRoom = _temporaryRoomService.CheckIfItIsCurrentRoom(joinedRoomId);

        if (isItCurrentRoom)
        {
            int createdRoomId = _roomService.CreateGame(joinedRoomId, user, joinPlayer);

            if (createdRoomId == -1)
            {
                _navigationManager.NavigateTo("/");
                return;
            }

            await HostRoomHubConnection.JoinGame(createdRoomId);

            await HostRoomHubConnection.AcceptJoining(_temporaryRoomService.Room.ConnectionId, createdRoomId);

            _navigationManager.NavigateTo("/game");

            _ = InvokeAsync(() =>
            {
                isLoading = true;
                StateHasChanged();
            });
        }
    }
    public async ValueTask DisposeAsync()
    {
        await HostRoomHubConnection.DisposeAsync();
    }
}
