@page "/join-room"

@using Microsoft.AspNetCore.SignalR.Client
@using System.Security.Claims
@using TicTacToeGame.Domain.Models
@using TicTacToeGame.Domain.Repositories

@inject NavigationManager _navigationManager
@inject PlayerRepository _playerRepository
@inject AuthenticationStateProvider _authenticationStateProvider

@implements IDisposable
@rendermode InteractiveServer

<h3>JoinRoom</h3>
<div class="card">
    <div class="row">
        <h4 class="col-5">Enter Room Id:</h4>
        <input type="text" class="col-5" @bind="@_roomId" />
    </div>
    <div class="row">
        <button style="margin:30px 10px 10px 10px;height:50px; width:100px;" @onclick="JoinGameRoom">
            Join Room
        </button>
    </div>
</div>

@code {
    private HubConnection hubConnection;
    private Player testPlaye;
    private int _roomId;
    private string _userId;

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authState = await _authenticationStateProvider.GetAuthenticationStateAsync();
        ClaimsPrincipal? user = authState.User;
        _userId = user.Claims.First().Value.ToString();

        hubConnection = new HubConnectionBuilder()
            .WithUrl(_navigationManager.ToAbsoluteUri("/gameHub"))
            .Build();

        hubConnection.On<int>("AcceptJoining", (joinedRoomId) =>
        {
            if(_roomId == joinedRoomId)
            {
                // await JoinGroupAsync(receiveGameUniqueId);
                _navigationManager.NavigateTo("/game");
            }
        });

        await hubConnection.StartAsync();
    }
    private async Task JoinGameRoom()
    {
        Player currentPlayer = _playerRepository.GetById(_userId);
        await hubConnection.SendAsync("JoinRoom", _roomId, currentPlayer);
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection != null)
        {
            await hubConnection.DisposeAsync();
        }
    }
    public void Dispose()
    {
        hubConnection?.DisposeAsync();
    }
}
